.gallery-mode .store-name{
    height: 49px !important;
}

.store-header .store_feedback_rating{
    float: left;
    line-height: 20px;
    margin: 4px 20px 0 0;
}

.store-header .fb_score{
    display: inline-block;
    vertical-align: middle;
    font-family: Arial,Helvetica,sans-senif,SimSun,"宋体";
    margin-right: 5px;
    font-weight: 700;
    color: black;
}